@import 'reset.css';
@import 'responsive.css';
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,900);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

h1 {
  font-weight: 300;
  font-size: 80px;
  position: relative;
  left: 10px;
  padding-bottom: 10px;
}

h2 {
  font-size: 1.4em;
  padding: 10px 10px 0px;
  color: #fff;
}

h3 {
  font-size: 1.2em;
  padding: 17px 10px 10px 5px;
}

input{
  width: 90%;
  margin: 5px 7px 8px;
  padding: 5px;
  display: block;
  border: none;
  border-radius: 3px;
  font-size: .7em;
  line-height: 1.5;
}

.header {
  height: 67px;
  display: flex;
  justify-content: flex-end;
  background-color: #fff;
}

.footer {
  height: 50px;
  padding: 7px 10px;
  color: #555;
  background-color: #fff;
}

.hidden {
  display: none;
}

.visually-hidden {
  /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}

.header-title-banner {
  position: absolute;
  width:  300px;
  top: 25px;
  left: 25px;
}

.top-nav {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  margin-right: 2em;
}

.top-nav button {
  display: inline-block;
  width: 11em;
  margin: 14px 0 0 10px;
  padding: 7px 0;
  height: 33px;
  background-color: #fff;
  border: 1px solid rgba(170,21,5,1);
  border-radius: 20px;
  font-size: 1em;
  font-weight: 900;
  text-align: center;
  line-height: .9em;
  color: rgba(170,21,5,1);
}

.top-nav button:hover {
  border-bottom: 3px solid rgba(87, 138, 7, 1);
}

.top-nav button:active {
  border-bottom: 3px solid rgba(240,80,62, 1);
}

.auth-form-container {
  display: flex;
  justify-content: flex-start;
}

.API-register,
.API-login {
  width: 11em;
  margin: 13px 0 0 10px;
  padding: .331em;
  background-color: rgba(0, 0, 0, .8);
}

.API-login {
  margin-left: 12px;
}

.API-register label,
.API-login label {
  margin-left: 10px;
  color: #fff;
  font-size: .875em;
}

.API-register h2,
.API-login h2 {
  margin-bottom: 10px;
}

.container {
  height: 100vh;
  background: url(../ticTac-table-photo-bak-crop.jpg);
  background-size: cover;
}

.game-container {
  margin: 0 auto;
  padding-left: 20px;
}

.game-box {
  padding: 0 auto;
}

.game-box > div{
  width: 170px;
  height: 170px;
  margin: 10px 0 0 9px;
  float: left;
  background: rgba(216,50,12,.8);
  border: 3px solid rgba(255,255,255,0.2);
  border-radius: 50%;
  box-shadow: 3px 2px 3px rgba(0,0,0,0.2);
  font-weight: 900;
  font-size: 120px;
  line-height: 147px;
  color: #fff;
  text-align: center;
  text-shadow: 1px 3px 1px rgba(0,0,0,0.5);
  vertical-align: middle;
  transition: all .3s ease-in-out;
}

.game-box > div:hover{
  background: rgba(163,7,33,.8);
  transform: scale(1.05);
}

.game-box > div:active{
  background: radial-gradient(#FFEF8C 0%, #FF6A00 100%);
}

.score-n-messages {
  position: relative;
  left: 10px;
}

.player01-box {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 40px;
  left: 170px;
  border-radius: 0% 50% 0% 50%;
  background-color: rgba(240,180,62,.4);
  box-shadow: 3px 2px 3px rgba(0,0,0,0.2);
}

.player02-box {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 40px;
  left: 280px;
  border-radius: 50% 0% 50% 0%;
  background-color: rgba(240,180,62,.4);
  box-shadow: 3px 2px 3px rgba(0,0,0,0.2);
}


.score-player-01-title {
  margin-top: 5px;
  margin-left: 25px;
  font-size: 1.2em;
  line-height: 1.5;
}

.score-player-02-title {
  margin-top: 5px;
  margin-left: 6px;
  font-size: 1.2em;
  line-height: 1.5;
}

.score-box{
  width: 100%;
  height: 80px;
  margin: 10px auto;
  font-size: 4em;
  line-height: 1.2em;
  font-weight: 900;
  text-align: center;
}


.message-container {
  position: absolute;
  width: 250px;
  height: 250px;
  top:180px;
  left: 10px;
  font-size: 1em;
  background-color: rgba(87,138,7,.5);
  border-radius: 50% 0% 50% 0%;
  box-shadow: 6px 4px 3px rgba(0,0,0,0.2);
}

.message-container h2 {
  width:200px;
  margin-top:  55px;
  margin-left: 25px;
  font-weight: 300;
  font-size: 2.3em;
  line-height: 1.1;
}


/* styles from web api */

.API-section {
  margin-left: 3.75em;
}

.API-register-login {
  position: relative;
  width: 70%;
  top:20px;
  margin-left: 70px;
}

.buttons-container {
  position: relative;
  margin: 0 0 0 20px;
  padding: 0 20px;
  overflow: auto;
}

.button-look, .top-nav-button {
  display: inline;
  width: 100%;
  min-width: 140px;
  height: 30px;
  margin: 5px auto;
  padding: 5px;
  border: 2px solid rgba(255,255,255,0);
  background-color: rgba(170,21,5,.5);
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: .85em;
  text-align: center;
  line-height: .9em;
  color: #fff;
  border-radius: 15px;
}

button:hover, .button-look:hover, .top-nav-button:hover {
  border: 2px solid rgba(255,255,255,0.2);
  background-color: rgba(216,50,12,.8);
}

button:active, .button-look:active, .top-nav-button:active {
  border: 2px solid rgba(255,255,255,0.2);
  background-color: rgba(240,180,62,.4);
}

.top-reg-button, .top-login-button {
  width: 100px;
  background-color: rgba(240,80,62, 1);
  margin-left: 7px;
}

.clear-left {
  clear: left;
}

.tester-area {
  position: absolute;
  left: 120px;
  bottom: 10px;
  width: 210px;
/*  min-height: 200px;*/
}

.test-data-stuff {
  padding: 5px 5px 10px;
  background-color: rgba(0,0,0, 0.5);
}

.test-data-stuff label {
  display: block;
  padding: 10px 5px;
  margin-top: 0;
}

.tester {
  width: 50%;
}

form {
  border: none;
  display: block;
}


/*#result {
  height: 25ex;
  min-width: 250px;
}
*/


.close-me {
  position: absolute;
  top: 15px;
  right: 18px;
  font-size: 1.3em;
  color: rgba(255,255,255, 0.5);
}

.close-me:hover {
  color: rgba(255,255,255, 1);
}

.close-me:active {
  color: rgba(255,255,255, 0.7);
}





/* z-index structure */

.header {
  z-index: 30;
}

.API-register {
  z-index: 10;
}

.API-login {
  z-index: 15;
}

.header-title-banner {
  z-index: 40;
}

.top-nav {
  z-index: 50;
}

