@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,300);

* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}


.wrapper {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #fff;
  position: relative;
  top: 120px;
  /*background-color: #AA1505;*/
  background: url(../ticTac-table-photo-bak.jpg);
  background-size: cover;
  min-height: 750px;
}

.container {
  max-width: 960px;
  min-height: 620px;
  /*margin: 0 auto;*/
  margin: 40px 10px 10px 20px;
  background-color: rgba(240,80,62,.4);
  position: relative;
  top: 10px;
  float: left;
}

h1 {
  font-weight: 300;
  font-size: 80px;
  position: relative;
  left: 10px;
  padding-bottom: 10px;
}

.header-title-banner {
  width:  30%;
  position: absolute;
  top: -100px;
  left: -35px;
  z-index: 5;
}

.game-container {
  width: 57%;
  /*height: 600px;*/
  margin: 0 auto;
  padding: 3px 0 10px;
  position: relative;
  float: left;
  display: inline-block;
  border-radius: 5% 0 5% 5%;
  left: 10px;
  top: 10px;
  overflow: auto;
  background-color: #9D052C;
}

.game-box {
  width: 170px;
  height: 170px;
  margin: 10px 0 0 9px;
  float: left;
  border-radius: 50%;
  background: radial-gradient(#FF5C4A 0%, #AA1505 100%);
  font-weight: 800;
  font-size: 150px;
  color: #fff;
  text-align: center;
  text-shadow: 1px 3px 1px rgba(0,0,0,0.5);
  vertical-align: middle;
}

.game-box:hover{
  background: radial-gradient(#4AC7FF 0%, #004287 100%);
}

.game-box:active{
  background: radial-gradient(#FFEF8C 0%, #FF6A00 100%);
}

h2 {
  font-size: 2em;
  padding: 10px 10px 0px;
}
.scoreboard-container {
  width: 20%;
  float: left;
  margin: 5px 20px;
  background-color: rgba(240,80,62,.4);
  display: inline-block;
  border-radius: 0 10% 10% 0;
  min-height: 150px;
}

.score-player {
  display: inline-block;
  padding: 5px 10px;
  font-size: 1.2em;
  line-height: 1.5;

}

.score-box {
  display: inline-block;
  width: 50px;
  background-color: white;
  font-size: 1.2em;
  line-height: 1.1;
  text-align: center;
  padding: 5px;
}

.message-container {
  float:left;
  width: 20%;
  min-height: 400px;
  margin: 5px 20px;
  font-size: 1em;
  background-color: rgba(240,80,62,.4);
}

/*.player-messages {

}*/

.buttons-container {
  width: 100%;
  overflow: auto;
  background-color: rgba(240,80,62,.4);
  clear: left;
}

button {
  display: inline-block;
  width: 250px;
  margin: 10px;
  padding: 10px;
  border: 0;
  background-color: #FF5C4A;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
}

.clear-left {
  clear: left;
}

.API-section {
  position: relative;
  width: 30%;
  float: left;
  top: 40px;
  margin: 5px 20px;
  background-color: rgba(240,80,62,.4);
  display: inline-block;
  border-radius: 50%;
  min-height: 150px;
}

.API-register-login {
  width: 610px;
  min-height: 100px;
  top: 50px;
/*  .container is 960px wide*/
  left: 980px;
  /*margin: 5px 20px;*/
  padding: 10px 5px;
  background-color: rgba(240,80,62,.8);
  display: inline-block;
}

.button-look {
  font-size: 2.5em;
  margin: 5px;
}



/* styles from web api */

.test-data-stuff {
  position: absolute;
  left: 610px;
  top: 0px;
  width: 500px;
  min-height: 400px;
  padding: 10px;
  background-color: rgba(0,0,0, 0.5);
}

form {
  margin: 10px;
  font-size: 1.2em;
}


#result {
  height: 30ex;
  min-width: 400px;
/*  margin: 0 auto;*/
}
